@charset "utf-8";

/*html {
  background: no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }*/
  /* common */
  body {

	/*background-size: cover;
	background-repeat: repeat-y;*/
	/*background-repeat: repeat-x;
	background-repeat: repeat;*/
	/*background-position: center;*/
	/*min-height: 100%;*/
	height: 100%;
	width: 100%;
	min-width: 1024px;

	/*height: auto;*/

}

#header {
	background-color: #aa312c;
	height:50px;
	width: auto;
}

#asmlogo {
	margin-right: 10px;
}

#homelogo {
	/*margin-top: 7px;*/
	margin: 7px 0px 0px 5px;
}

.clearfooter {
	height: 80px;
	clear:both;

}

#footer {
	font-family: Arial;
	background-color:#999;
	color: #000000;
	width: 100%;	
	/*float: left;*/
	margin-top: 75px;
	bottom: 0;
	text-align:center;
	padding: 0.5px;
	position: relative;
	height: 80px;
	line-height: 40px;
	clear: both;
}

/*#footernew {
    height:80px;
    background-color: #999999;
    float: left;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 70px;
    clear:both;
}

#footernew .footerbottom p, #footernew .footerbottom p a  {
	text-align: center;
	color: #000;
	text-decoration: none;
	padding-top:15px;


}
*/
a:link {
	color: white;
	text-decoration:none;
}

a:hover {
	color: #ffffff !important;
	text-decoration:none !important;
}


a:hover .compare-text:hover {
	color: #eaeaea !important;
	text-decoration:none !important;
}




/*index*/

#index-body {
	background-image: url("../img/pageBg.jpg");
	/*background-color:#dedfe1;*/
	width: 100%;
}

.index-container {
	/*position: relative;*/
	/*width: 100%;*/
	max-width: 960px;
	/*margin: 0 auto auto auto;*/
	height: 100%;
	margin: 0 auto;
}


.index-machineimage-bgnd {

}

.content h1 {
	text-align:center;
	margin-top: 60px ;
	margin-bottom: 60px ;
	font-family: Arial;
	font-size: 40px;
}

.compare-text {
	padding: 0px;
	border-radius: 20px;
	background-color: #aa312c;
	width: 200px;
	text-align: center;
	font-family:Arial;
	font-size: 20px;
	margin: auto;
}

.compare-text:hover {
	background-color: #999999;
	-webkit-transition: all 100ms ease-out;
	-moz-transition: all 100ms ease-out;
	-o-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;
	transition: all 300ms ease-out;

}

.compare {
	margin-bottom: 100px;
}

.machinebg {
	display: block;
	margin-top: 100px;

}


/*select*/

#select-body {
	background-image: url("../img/pageBg.jpg");
}

.select-container {
	max-width: 960px;
	margin: 0 auto;
}

.buttons {
	background-color: white;
	width: 960px;
	height: 50px;
	/*margin: 0;*/
}

.back {
	display: block;
	float: left;
	margin-top:5px;
}

.back-text {
	color: white;
	font-size: 15px;
	background-color: #aa312c;
	padding: 8px 15px;
}

.compare-product {
	color: white;
	font-size: 15px;
	background-color: #aa312c;
	padding: 8px 15px;
	cursor: pointer;
}

.selection-text {
	margin-bottom: 50px;
	width: 960px;
}

.selection-text > div {
	font-size: 30px;
}

.selection-text > h1{
	margin-top: 50px;
	font-size: 50px;
}

.select-machines-wrapper {
	/*padding-top: 6px;*/
	background-color: white;
	/*max-width: 960px;*/
	/*min-width: 870px;*/
	width: 960px;
	height: auto;
	/*margin: 0 auto;*/
}

.row.white-bgnd {
	width: 960px !important;
}

.row.white-bgnd > div:first-child {
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.select-machine-item {
	margin: 0 auto 50px auto;
	/*padding: 0px 5px !important;*/
	
}

.selection-thumbnails {
	padding: 0 5px !important;
}

.select-machine-item > div {
	width: 210px;
	cursor: pointer;
}

.select-machine-item > div:first-child {
	border: 1px #d9d9d9 solid;
	margin-top: 20px;
}

.select-machine-item-select {
	cursor: pointer;
}

.machine-greybox {
	padding: 8px;
	background-color: rgba(0,0,0,0.5);
	font-weight: bold;
	font-size: 14px;
}

.select-machine-item:hover .machine-greybox {
	background-color: #aa312c;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
	
}

.select-breadcrumbs {
	background-color: #999999 !important;
	margin-bottom: 10px;
	width: 960px;
}

.breadcrumbs-text {
	padding: 10px;
	color: white;
}

.machine-items-container {
	/*width: 960px !important;*/
	max-width: 960px;
	margin:0 auto;
	width: 100%;
	/*position: absolute;*/
}

/*compare*/
#compare-body {
	background-image: url("../img/pageBg.jpg");
}

.sidebar-container ul li {
	background-color: #aa312c;
	padding: 7px 10px;
	width: 190px;
	margin: 5px 0px 5px 20px !important;
	color: white;
	font-weight: bold;
	list-style: none;
	cursor: pointer ;
}



.nav li:hover {
	background-color: #999999 !important;
	text-decoration:none !important;
}

.nav-pills > li:active , .nav-pills > li:active > li:focus {
	background-color: #999999 !important;
	text-decoration:none !important;
}

.nav li.active {
	background-color: #999999;
}


.compare-container {
	/*width: 100%;*/
	max-width: 960px;
	/*margin: -20px 400px;*/
	margin: 0 auto;	
	height: auto;


}

.comparison-wrapper {
	/*padding: 6px;*/
	max-width:960px;
	background-color: white;
	height: auto;
	padding-bottom: 50px;
}

.compare-breadcrumbs {
	background-color: #999999 !important;
	margin-bottom: 10px;
	margin-top: 30px;
	width: 960px;
}

.machine-to-compare {
	margin-bottom: 50px;
}

/* makes background color similar to the image on top */
.machine-info-item-highlight {
	width: 250px;
	background-color: #f1f1f1;
	/*padding: 10px;*/
	padding: 0px 10px 0px 10px;
}


.machine-info-highlight {
	padding: 0px !important;
	
}
/* start of on hover row hightlight logic */

/*highlight div im hovering, i.e the bond placement replacement field*/
.machine-info-highlight:hover {
	background-color: #d3d3d3;
}

/*highlight div beside it, but it goes behind the grey bgnd*/
/*.machine-info-highlight:hover + div {
	background-color: #d3d3d3;
	}*/

	/*beside the div there's one more inner div, which is grey background*/
	.machine-info-highlight:hover + div .machine-info-item-highlight {
		background-color: #d3d3d3;

	}

	/*highlight div next to the 2nd highlight*/
/*.machine-info-highlight:hover + div + div {
	background-color: #d3d3d3;
}
*/

/*same  as third line, beside got one more inner div, but its doing for the 2nd grey div*/
.machine-info-highlight:hover + div  + div .machine-info-item-highlight {
	background-color: #d3d3d3;
}

/* end of on hover row hightlight logic */

.compare-machine-item-bgnd {
	background-color: #f1f1f1;
	width: 250px ;
	border: none !important;
	padding-bottom: 40px; 
	/*padding: 0px 10px 40px 10px;*/
}

.machine-info-item-highlight-bgnd {
	width: 250px;
	background-color: #f1f1f1;
	min-height: 100px;
}


/*.compare-machine-item > div {
	width: 250px;
	border: 1px #d9d9d9 solid;
	margin-top: 20px;
	}*/

	.compare-machine-item > img {
		/* this is to make image not shrink when trying to shrink browser width */
		min-width: 250px;
	}

	/*This is to adjust the machine thumbnail margin in compare.html*/
	.compare-machine-item {
		margin-right: 110px;
		margin-left: -20px;
	}
	.compare-machine-name {
		background-color: #999999;
		padding: 20px 0;
		font-weight: bold;
		cursor: pointer;
	}

	.compare-machine-name:hover a {
		color: #000000 !important;
	}

	.sidebar-container {
		margin-bottom: 60px;
	}

	.machine-info-container {
		margin-bottom: 60px;
	}

	/*This is to adjust the machine-info-item row margin in compare.html*/
	.machine-info-item-container {
		margin-right: 110px;
		margin-left: -20px;
		height: auto;
	}

/*.datainfo-container {
	width: !important;
}
*/
/*.category-field-name-container {
	position: absolute;

	}*/

/*.compare-machine-item-outer-container {
	height: 50px;
}
*/

