/* common */
body {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 100vh;
	min-width: 1024px;
}

#header {
	background-color: #aa312c;
	height:50px;
	width: auto;
}

#asmlogo {
	margin-right: 10px;
}

#footer {
	font-family: Arial;
	background-color:#999;
	color: #000000;
	min-width: 1024px;
	text-align:center;
	padding: 0.5px;

	height: 80px;
	line-height: 40px;
	white-space: nowrap;
}

a:link {
	color: white;
	text-decoration:none;
}

a:hover {
	color: #ffffff !important;
	text-decoration:none !important;
}


a:hover .compare-text:hover {
	color: #eaeaea !important;
	text-decoration:none !important;
}




/*index*/

#index-body {
	background-image: url("../img/homepageBg.jpg");
}

.index-container {
	position: relative;
	width: auto;
	margin-bottom: 590px;
}

.content h1 {
	text-align:center;
	margin-top: 60px ;
	margin-bottom: 60px ;
	font-family: Arial;
	font-size: 40px;
}

.compare-text {
	padding: 0px;
	border: 1px #aa312c solid;
	border-radius: 20px;
	background-color: #aa312c;
	width: 200px;
	text-align: center;
	font-family:Arial;
	font-size: 20px;
	margin: auto;
}


.compare {
	margin-bottom: 300px;
}

.machinebg {
	display: block;
	margin-top: 100px;

}


/*select*/

#select-body {
	background-image: url("../img/pageBg.jpg");
}

.buttons {
	background-color: white;
	width: 100%;
	height: 50px;


}


.back {
	display: block;
	float: left;
	margin-top:5px;


}

.back-text {
	color: white;
	font-size: 15px;
	background-color: #aa312c;
	padding: 8px 15px;
}


.compare-product {
	color: white;
	font-size: 15px;
	background-color: #aa312c;
	padding: 8px 15px;
	cursor: pointer;
}

.selection-text {
	margin-bottom: 50px;
}

.selection-text > div {
	font-size: 30px;
}

.selection-text > h1{
	margin-top: 50px;
	font-size: 50px;
}

.select-machines-wrapper {
	padding-top: 6px;
	background-color: white;
}

.white-bgnd {

}

.select-machine-item {
	margin-bottom: 50px;
}

.select-machine-item > div {
	width: 250px;
	cursor: pointer;
}

.select-machine-item > div:first-child {
	border: 1px #d9d9d9 solid;
	margin-top: 20px;
}

.select-machine-item-select {
	cursor: pointer;
}

.machine-greybox {
	padding: 10px;
	background-color: rgba(0,0,0,0.5);
	font-weight: bold;
}

.select-breadcrumbs {
	background-color: #999999 !important;
	margin-bottom: 10px;
	
}

.breadcrumbs-text {
	padding: 10px;
	color: white;
}

/*compare*/

.sidebar-container ul li {
	background-color: #aa312c;
	padding: 7px 10px;
	width: 200px;
	margin: 5px 0px 5px 10px !important;
	color: white;
	font-weight: bold;
	list-style: none;
	cursor: pointer ;
}



.nav li:hover {
	background-color: #999999 !important;
	text-decoration:none !important;
}

.nav-pills > li:active , .nav-pills > li:active > li:focus {
	background-color: #999999 !important;
	text-decoration:none !important;
}

.nav li.active {
	background-color: #999999;
}

#compare-body {
	background-image: url("../img/pageBg.jpg");
}

.compare-container {
	/*width: 100%;*/
	max-width: 960px;
	/*margin: -20px 400px;*/
	margin: 0 auto;
	
}

.comparison-wrapper {
	padding: 6px;
	max-width:960px;
	background-color: white;
}

.compare-breadcrumbs {
	background-color: #999999 !important;
	margin-bottom: 10px;
	margin-top: 20px;
	width: 960px;
}

.machine-to-compare {
	margin-bottom: 50px;
}

/* makes background color similar to the image on top */
.machine-info-item-highlight {
	width: 250px;
	background-color: #f1f1f1;
	padding: 0px 10px 0px 10px;
}


.machine-info-highlight {
	padding: 0px !important;
}
/* start of on hover row hightlight logic */

/*highlight div im hovering, i.e the bond placement replacement field*/
.machine-info-highlight:hover {
  	background-color: #d3d3d3;
  }

/*highlight div beside it, but it goes behind the grey bgnd*/
/*.machine-info-highlight:hover + div {
	background-color: #d3d3d3;
}*/

/*beside the div there's one more inner div, which is grey background*/
.machine-info-highlight:hover + div .machine-info-item-highlight {
	background-color: #d3d3d3;

}

/*highlight div next to the 2nd highlight*/
/*.machine-info-highlight:hover + div + div {
	background-color: #d3d3d3;
}
*/

/*same  as third line, beside got one more inner div, but its doing for the 2nd grey div*/
.machine-info-highlight:hover + div  + div .machine-info-item-highlight {
	background-color: #d3d3d3;
}

/* end of on hover row hightlight logic */

.compare-machine-item-bgnd {
	background-color: #f1f1f1;
	width: 250px ;
	border: none !important;
	padding-bottom: 40px; 
	/*padding: 0px 10px 40px 10px;*/
}

.machine-info-item-highlight-bgnd {
	width: 250px;
	background-color: #f1f1f1;
	height: 60px;

}

/*.compare-machine-item > div {
	width: 250px;
	border: 1px #d9d9d9 solid;
	margin-top: 20px;
}*/

.compare-machine-item > img {
	/* this is to make image not shrink when trying to shrink browser width */
	min-width: 250px;
}

/*This is to adjust the machine thumbnail margin in compare.html*/
.compare-machine-item {
	margin-right: 100px;
	margin-left: -20px;
}
.compare-machine-name {
	background-color: #999999;
	padding: 20px 0;
	font-weight: bold
}

.sidebar-container {
	margin-bottom: 40px;
}

.machine-info-container {
	margin-bottom: 40px;
}

/*This is to adjust the machine-info-item row margin in compare.html*/
.machine-info-item-container {
	margin-right: 100px;
	margin-left: -20px;
}

.datainfo-container {
	width: !important;
}

/*.category-field-name-container {
	position: absolute;

}*/

/*.compare-machine-item-outer-container {
	height: 50px;
}
*/

